@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
.menu .item{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 23px;  
  color: azure;  
  display: inline-block;
  margin: 10px 20px 30px 45px;
  /* margin: top right bottom left */
  /* MARGIN-TOP para alinhar no centro */
  /* (50% da div que o contém) - (50% de sua altura) */
}
.menu .item:active, .menu .item:focus, .menu .item:hover{
  text-shadow: 4px 3px 3px #00cc99;
}
.menu{
  background: url("https://php.net/images/bg-texture-00.svg") repeat #333;
  width: 100%;  
  height: 100px;
  text-align:center;
  box-shadow: 0 0 20px #000;
}
/* Não tão importante */

a, a:visited, a:link, a:hover{
  text-decoration: none;
  color: inherit;
}

menu .logo{
  width: 100px;

}

menu .menu-enllaços{
  width: 100px;
  align-items: center;
}